[package]
name = "pokefications"
version = "0.1.0"
authors = ["Marco Napetti <marco.napetti@pixartprinting.com>"]

[dependencies]
futures = "0.1.11"
hyper = "0.11"
serde = "1.0"
serde_json = "1.0"
serde_derive = "1.0"
toml = "0.4"
