[service]
address = "0.0.0.0"#0.0.0.0 accepts from any address
port = 8080
safeword = ""
queue_size = 1

[database]
url = "mysql://user:password@host/database"

[images]
bot = "/path/to/bot/"
bot_pub = "http://public/url/to/bot/"
sender = "/path/to/sender/"
assets = "/path/to/assets/"

[osm]
tile_url = ""
timeout = 1

[telegram]
bot_token = ""
alert_bot_token = ""
alert_chat = ""
version_chat = ""
timeout = 1
