[service]
address = "0.0.0.0"#0.0.0.0 accepts from any address
port = 8080

[threads]
min = 12
max = 12

[database]
url = "mysql://user:password@host/database"

[images]
sent = "/path/to/img_sent/"
source = "/path/to/sources/"
assets = "/path/to/assets"

[google]
maps_key = ""

[telegram]
bot_token = ""
cache_chat = ""
